<h2>File Details</h2>
<dl class="dl-vertical file-show-term file-show-details">
  <dt>Depositor</dt>
  <dd itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  <dt>Date Uploaded</dt>
  <dd itemprop="datePublished"><%= @presenter.date_uploaded %></dd>
  <dt>Date Modified</dt>
  <dd itemprop="dateModified"><%= @presenter.date_modified %></dd>
  <dt>Fixity Check</dt>
  <dd><%= @presenter.fixity_check_status %></dd>

  <dt>Characterization</dt>
  <dd>
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      not yet characterized
    <% end %>
  </dd>
  <dt>SHA1</dt>
  <dd itemprop="fedora_sha1"><%= @presenter.fedora_sha1&.first %></dd>
</dl>

<h2>Technical Metadata</h2>
<dl class="dl-vertical file-show-term file-show-details">
  <dt>Camera Make</dt>
  <dd itemprop="camera_make"><%= @presenter.camera_make&.first  %></dd>

  <dt>Camera Model</dt>
  <dd itemprop="camera_model"><%= @presenter.camera_model&.first %></dd>

  <dt>Date Taken</dt>
  <dd itemprop="date_taken"><%= @presenter.date_taken&.first %></dd>

  <dt>Exposure Time</dt>
  <dd itemprop="exposure_time"><%= @presenter.exposure_time&.first %></dd>

  <dt>F Number</dt>
  <dd itemprop="f_number"><%= @presenter.f_number&.first %></dd>

  <dt>ISO Speed Rating</dt>
  <dd itemprop="iso_speed_rating"><%= @presenter.iso_speed_rating&.first %></dd>

  <dt>Flash</dt>
  <dd itemprop="flash"><%= @presenter.flash&.first %></dd>

  <dt>Exposure Program</dt>
  <dd itemprop="exposure_program"><%= @presenter.exposure_program&.first %></dd>

  <dt>Focal Length</dt>
  <dd itemprop="focal_length"><%= @presenter.focal_length&.first %></dd>

  <dt>Software</dt>
  <dd itemprop="software"><%= @presenter.software&.first %></dd>

  </dl>
