<h2><%= t('hyrax.technical_metadata.file_details') %></h2>
<dl class="dl-vertical file-show-term file-show-details">

  <dt>File name</dt>
  <dd itemprop="label"><%= @presenter.label %></dd>

  <dt><%= t('hyrax.technical_metadata.date_uploaded') %></dt>
  <dd itemprop="datePublished"><%= @presenter.date_uploaded %></dd>
  <dt><%= t('hyrax.technical_metadata.date_modified') %></dt>
  <dd itemprop="dateModified"><%= @presenter.date_modified %></dd>
  <dt><%= t('hyrax.technical_metadata.fixity_check') %></dt>
  <dd><%= @presenter.fixity_check_status %></dd>
  <br />
  <dt><%= t('hyrax.technical_metadata.sha1') %></dt>
  <dd itemprop="fedora_sha1"><%= @presenter.fedora_sha1&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.characterization') %></dt>
  <dd>
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      <%= t('hyrax.technical_metadata.not_yet_characterized') %>
    <% end %>
  </dd>

</dl>

<h2><%= t('hyrax.technical_metadata.technical_metadata') %></h2>
<dl class="dl-vertical file-show-term file-show-details">
  <dt><%= t('hyrax.technical_metadata.camera_make') %></dt>
  <dd itemprop="camera_make"><%= @presenter.camera_make&.first  %></dd>

  <dt><%= t('hyrax.technical_metadata.camera_model') %></dt>
  <dd itemprop="camera_model"><%= @presenter.camera_model&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.date_taken') %></dt>
  <dd itemprop="date_taken"><%= @presenter.date_taken&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.exposure_time') %></dt>
  <dd itemprop="exposure_time"><%= @presenter.exposure_time&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.F_number') %></dt>
  <dd itemprop="f_number"><%= @presenter.f_number&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.ISO_speed_rating') %></dt>
  <dd itemprop="iso_speed_rating"><%= @presenter.iso_speed_rating&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.flash') %></dt>
  <dd itemprop="flash"><%= @presenter.flash&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.exposure_program') %></dt>
  <dd itemprop="exposure_program"><%= @presenter.exposure_program&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.focal_length') %></dt>
  <dd itemprop="focal_length"><%= @presenter.focal_length&.first %></dd>

  <dt><%= t('hyrax.technical_metadata.software') %></dt>
  <dd itemprop="software"><%= @presenter.software&.first %></dd>

  </dl>
