<!-- I put these in application.css but they were overwritten with the online config value for footer -->
<style>
  .navbar-inverse .navbar-nav > li > a:hover  { color:#3c3c3c; }
  .navbar-inverse .navbar-nav > li > a  { color:#3c3c3c; }
  .navbar-static-top {background-color: #3c3c3c;}
</style>

<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>Trinity College Dublin, The University of Dublin</p>
        <p>College Green</p>
        <p>Dublin 2, Ireland</p>
        <p>T: +353 1 896 1000</p>
        <p>&nbsp;</p>
        <p>Revision: <%= File.read("REVISION") %></p>
      <!--  <p><%= t('hyrax.footer.service_html') %></p>
        <p><%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p> -->
    </div>
    <!--    <p><%= t('hyrax.footer.copyright_html') %></p>
        <p><%= t('hyrax.background_attribution_html') %></p> -->


    <div class="navbar-right">
          <div class="navbar-text text-left">

        <p><a href="//www.tcd.ie/accessibility/" class="foot"><i class="fa fa-angle-double-right" style="font-size:12px; color:#2997bc;"></i>&nbsp; <%= t("hyrax.footer.accessibility") %></a></p>
        <p><a href="//www.tcd.ie/privacy/" class="foot"><i class="fa fa-angle-double-right" style="font-size:12px; color:#2997bc;"></i>&nbsp; <%= t("hyrax.footer.privacy") %></a></p>
        <p><a href="//www.tcd.ie/disclaim/" class="foot"><i class="fa fa-angle-double-right" style="font-size:12px; color:#2997bc;"></i>&nbsp; <%= t("hyrax.footer.disclaimer") %></a></p>
        <p><a href="//www.tcd.ie/contacts/" class="foot"><i class="fa fa-angle-double-right" style="font-size:12px; color:#2997bc;"></i>&nbsp; <%= t("hyrax.footer.contact") %></a></p>

      </div>
    </div>

  </div>
</footer>
