<% provide :page_header do %>
  <h1><span class="fa fa-folder" aria-hidden="true"></span> Create Folder Number/Project ID: <%= @folder_number.project_id %></h1>
<% end %>
<%= link_to("<< Back to List", folder_numbers_path, :class => 'back-link') %>

<div class="panel-body">
  <% if @folder_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder_number.errors.count, "error") %> prevented this new project folder from being saved:</h2>

      <ul>
        <% @folder_number.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default tabs nifty_form">

            <%= form_for(@folder_number, :url => folder_numbers_path, :method => 'post', html: { id: 'phx-signup-form' }) do |f| %>

              <%= f.hidden_field(:project_id, value: @folder_number.project_id) %>
              <%= f.hidden_field(:created_by, value: current_user) %>
              <table summary="Folder Number/Project ID" class="table table-striped datatable">
                <tr>
                  <th>Root filename</th>
                  <td><%= f.text_field(:root_filename, size: "70") %></td>
                </tr>
                <tr>
                  <th>Title</th>
                  <td><%= f.text_field(:title, size: "70") %></td>
                </tr>
                <tr>
                  <th>Job type</th>
                  <td><%= f.text_field(:job_type, size: "70") %></td>
                </tr>
                <tr>
                  <th>Suitable for ingest?</th>
                  <td><%= f.select :suitable_for_ingest, ["Yes", "No", "Dont Know"]  %></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td><%= f.text_field(:status, size: "70") %></td>
                </tr>
                <tr>
                  <th>Note</th>
                  <td><%= f.text_area(:note, size: "70x5") %></td>
                </tr>
              </table>

              <div class="btn btn-default">
                <% @text_for_button = "Create Folder number/Project ID " + @folder_number.project_id.to_s %>
                <%= f.submit @text_for_button, class: 'btn btn-primary' %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
</div>
