<% provide :page_header do %>
  <h1><span class="fa fa-shield" aria-hidden="true"></span> Checksum Audits</h1>
<% end %>
<div>
  Files Ingested: <%= HyraxChecksumPresenter.new.all %>
</div>
<div>
  Files Audited: <%= HyraxChecksumPresenter.new.audited %>
</div>
<div>
  Failures: <%= HyraxChecksumPresenter.new.failed %>
</div>

<div class="table-responsive">
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>fileset id</th>
        <th>ingest date</th>
        <th>ingest week no</th>
        <th>last fixity check</th>
        <th>last fixity result</th>
      </tr>
    </thead>
    <% @hyrax_checksums&.each do | hyrax_checksum | %>
    <tr>
      <td><%= link_to hyrax_checksum.fileset_id, polymorphic_path([main_app, FileSet.find(hyrax_checksum.fileset_id)]) %></td>
      <td><%= hyrax_checksum.ingest_date %></td>
      <td><%= hyrax_checksum.ingest_week_no %></td>
      <td><%= hyrax_checksum.last_fixity_check %></td>
      <% case hyrax_checksum.last_fixity_result %>
        <% when 'pass' %>
             <td><span class="label label-success"><%= hyrax_checksum.last_fixity_result %></span></td>
        <% when 'fail' %>
             <td><span class="label label-danger"><%= hyrax_checksum.last_fixity_result %></span></td>
        <% else %>
             <td><span class="label label-warning">o/s</span></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
