<!-- <a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true"> -->
<!--    <span class="institution_name"><%= institution_name_full %></span> -->
<!-- </a> -->

<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <span class="glyphicon glyphicon-globe" role="img" aria-label="<%= application_name %>" aria-hidden="true"></span>
  <span class="institution_name"><%= institution_name_full %></span>
</a>
